.photos{

}
.photo{
    margin-right:30px;
    height:300px;
    display:inline-block;
}
.drop-box
  {
    width: 300px;
    height: 300px;
    border: 3px dotted #ccc;
    background-color: #eee;
    text-align: center;
    padding-top: 30px;
    border-color: #ccc;
    padding-top: 135px;
    font-size:30px;
}

.dragover{
    border: 3px dotted #0e0;
}
